{% extends 'base.html' %}

{% block title %}
<title>Edit</title>
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form action="#" method="post">
        <p>Edit yout account</p>
        <ul>
            <li>
                <p>New user name:</p>
                <input type="text" name="new_usrName" value="{{ user.name }}">
            </li>
            <li>
                <p>New Bio:</p>
                <input class="edit_input_bio" type="text" name="new_usrBio" value="{{ user.profbio }}">
            </li>

        </ul>


        <p><input type="submit" value="submit"></p>
    </form>

{% endblock %}