{% extends 'base.html' %}

{% block head %}
    <title>Edit</title>
    <script src="/static/scripts/edit_profile.js"></script>
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form action="#" method="post">
        <p>Edit yout account</p>
        <ul>
            <li>
                <p>New user name:</p>
                <input type="text" name="new_usrName" value="{{ user.name }}">
            </li>
            <li>
                <p>New Bio:</p>
                <input class="edit_input_bio" type="text" name="new_usrBio" value="{{ user.profbio }}" size="150">
            </li>

        </ul>

        <div class="tagslist">

        </div>
        <p><input type="submit" value="submit"></p>
    </form>



{% endblock %}