{% extends 'base.html' %}

{% block title %}
<title>User Page</title>
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <h1>Hello {{ user.name }} </h1>

    <div class="profile_info_content">
        <img class="user_profile_picture" src="static/images/{{ user.profpic }}.jpg">
        <button class="user_profile_button" onclick="location.href = '/edit'">Edit Profile</button>

        <div class="user_profile_tags">
            <ul class="tagslist">
                {% for tag in user.proftags.split(',') %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>

        </div>
        <div class="user_profile_bio">{{ user.profbio }} </div>

    </div>




{% endblock %}