{% extends 'base.html' %}

{% block title %}
<title>{{ user.name }} Page</title>
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if owner %}
        <h1>Hello {{ user.name }} </h1>
    {% else %}
        <h1>This is {{ user.name }}'s profile</h1>
    {% endif %}
    <div class="profile_info_content">
        <img class="user_profile_picture" src="static/images/{{ user.profpic }}.jpg">
        {% if owner %}
            <button class="user_profile_button" onclick="location.href = '/edit'">Edit Profile</button>
        {% endif %}
        <div class="user_profile_tags">
            <ul class="tagslist">
                {% for tag in user.proftags.split(',') %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="user_profile_friends">
            this is friends list

        </div>
        <div class="user_profile_bio">{{ user.profbio }} </div>

    </div>




{% endblock %}