*{
  padding:0;
  margin:0;
}

body{
}

.content{
  margin: 0 auto;
  width: 1200px;

  background-color: #ced4da;
}

nav{
  display: grid;
  grid-template-columns: auto 3fr 1fr 1fr 1fr auto+2px;
  grid-gap: 10px;


  background-color: #ff0000;
}

footer{
  background-color: aqua;
  height: 20px;
  margin-top: 200px;
}

.nav_logo{
  grid-column: 1;
  grid-row: 1;
  padding-left: 50px;
}

.nav_profpicture{
  grid-column: 4;
  grid-row: 1;
}

.nav_messages{
  grid-column: 3  ;
  grid-row:1;
}
.nav_profile_button{

}


.nav_logout_button{
  grid-column: 5  ;
  grid-row:1;
}

.profile_info_content{
  display: grid;

  grid-template-columns: 20% 1fr  min-content ;
  grid-template-rows: auto  1fr auto;
  grid-gap: 20px;


}


.user_profile_picture{
  height: 250px;
  width: 250px;
  background-color: green;
  border-radius: 125px;
  grid-column: 3;
  grid-row: 1;
  margin: 20px
}

.user_profile_button{
  grid-column: 3;
  grid-row: 2;
}


.user_profile_bio{
  grid-column: 2/span 2;
  grid-row: 3 ;
}

.user_profile_tags{
  grid-column: 2;
  grid-row: 1;
}

.user_profile_friends{
  grid-column: 1;
  grid-row: 1/span 3;


  background-color: yellow;
}

.tagslist li{
  display: inline;
}


.edit_input_bio{

}










