*{
  padding:0;
  margin:0;
}

body{
}

.content{
  margin: 0 auto;
  width: 1200px;

  background-color: #ced4da;
}


/*nav*/
nav{
  background-color: #ff0000;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto 1fr auto min-content;
}
.nav_swipe_button{
  grid-column: 1;
  margin-left: 30px;
}
.nav_profile_button{
  grid-column: 3;
}
.nav_logout_button{
  grid-column: 4;
  margin-right: 30px;
}













footer{
  background-color: aqua;
  height: 20px;
  margin-top: 200px;
}



.profile_info_content{
  display: grid;

  grid-template-columns: 20% 1fr  min-content ;
  grid-template-rows: auto  1fr auto;
  grid-gap: 20px;


}


.user_profile_picture{
  height: 250px;
  width: 250px;
  background-color: green;
  border-radius: 125px;
  grid-column: 3;
  grid-row: 1;
  margin: 20px
}

.user_profile_button{
  grid-column: 3;
  grid-row: 2;
}


.user_profile_bio{
  grid-column: 2/span 2;
  grid-row: 3 ;
}

.user_profile_tags{
  grid-column: 2;
  grid-row: 1;
}

.user_profile_friends{
  grid-column: 1;
  grid-row: 1/span 3;


  background-color: yellow;
}

.tagslist li{
  display: inline;
}

.in{
  background-color: #4CAF50;
}

.out{
  background-color: #f44336;
}


.edit_input_bio{

}










